body {
  background-color: #333;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif, white;
  background-image: url("image.png");
  font-style: white;
}

.container {
  text-align: center;
  background-color: rgba(68, 68, 68, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
input[type="text"] {
  padding: 5px;
  margin-top: 10px;
  border-radius: 4px;
  border: none;
}
button {
  padding: 5px 10px;
  margin: 10px 5px;
  border: none;
  background-color: #555;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #666;
}
ul {
  list-style-type: none;
  padding: 0;
}
